@model Programacion3.Models.licencias

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Esta seguro que desea borrar esta licencia?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Desde")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desde)
        </dd>

        <dt>
            @Html.DisplayName("Hasta")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hasta)
        </dd>

        <dt>
            @Html.DisplayName("Motivo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motivo)
        </dd>

        <dt>
            @Html.DisplayName("Comentarios")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentarios)
        </dd>

        <dt>
            @Html.DisplayName("ID Empleado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleados.codigoEmpleado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" /> |
            @Html.ActionLink("Atras", "Index")
        </div>
    }
</div>
