@model Programacion3.Models.departamentos

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Departamentos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Codigo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigoDepartamento)
        </dd>

        <dt>
            @Html.DisplayName("Departamento")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayName("Encragado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.encargado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_departamento }) |
    @Html.ActionLink("Atras", "Index")
</p>
