@model Programacion3.Models.empleados

@{
    ViewBag.Title = "Eliminar";
}

<h2 class="tit">Eliminar</h2>

<h3>Esta seguro de que desea eliminar empleado?</h3>
<div>
    <h4>Empleados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Codigo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigoEmpleado)
        </dd>

        <dt>
            @Html.DisplayName("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayName("Apellido")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayName("Telefono")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayName("Fecha de Ingreso")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaIngreso)
        </dd>

        <dt>
            @Html.DisplayName("Salario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salario)
        </dd>

        <dt>
            @Html.DisplayName("Estado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayName("ID Cargo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargos.codigoCargo)
        </dd>

        <dt>
            @Html.DisplayName("ID Departamento")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departamentos.codigoDepartamento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" /> |
            @Html.ActionLink("Atras", "Index")
        </div>
    }
</div>
