@model IEnumerable<Programacion3.Models.empleados>

@{
    ViewBag.Title = "Empleados";
}

<h2 class="tit">Empleados</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>

<form asp-action="Buscar" method="post">
    <div class="form-actions no-color d-flex justify-content-between" style=" border:solid; border-radius:5px; border-width:2px; padding:0.6px">
        <input type="text" name="buscar" value="" class="form-control" placeholder="Buscar nomina">
        <input type="submit" value="Buscar" class="btn btn-outline-primary form-control" />
    </div>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Codigo")
        </th>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th>
            @Html.DisplayName("Apellido")
        </th>
        <th>
            @Html.DisplayName("Telefono")
        </th>
        <th>
            @Html.DisplayName("Fech-Ingreso")
        </th>
        <th>
            @Html.DisplayName("Salario")
        </th>
        <th>
            @Html.DisplayName("Estado")
        </th>
        <th>
            @Html.DisplayName("ID-Cargo")
        </th>
        <th>
            @Html.DisplayName("ID-Dep")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codigoEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cargos.codigoCargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departamentos.codigoDepartamento)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
