@model Programacion3.Models.nomina

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Nomina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Año")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.año)
        </dd>

        <dt>
            @Html.DisplayName("Mes")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mes)
        </dd>

        <dt>
            @Html.DisplayName("Monto Total")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montoTotal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Atras", "Index")
</p>
