@model IEnumerable<Programacion3.Models.nomina>

@{
    ViewBag.Title = "Nomina";
}

<h2 class="tit">Nomina</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Año")
        </th>
        <th>
            @Html.DisplayName("Mes")
        </th>
        <th>
            @Html.DisplayName("Monto Total")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.año)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.montoTotal)
        </td>
        <td>
            @Html.ActionLink("Detalles", "Details", new { id=item.id_nomina })
        </td>
    </tr>
}

</table>
