@model IEnumerable<Programacion3.Models.nomina>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form asp-action="Buscar" method="post">
    <div class="form-actions no-color d-flex justify-content-between" style=" border:solid; border-radius:5px; border-width:2px; padding:0.6px">
        <input type="text" name="nomina" value="" class="form-control" placeholder="Buscar nomina">
        <input type="submit" value="Buscar" class="btn btn-outline-primary form-control" />
    </div>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.año)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.montoTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.año)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.montoTotal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_nomina }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_nomina }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_nomina })
        </td>
    </tr>
}

</table>
