@model Programacion3.Models.cargos

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Cargos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Codigo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigoCargo)
        </dd>

        <dt>
            @Html.DisplayName("Cargo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_cargos }) |
    @Html.ActionLink("Atras", "Index")
</p>
