@model Programacion3.Models.salidaEmpleado

@{
    ViewBag.Title = "Eliminar";
}

<h2 class="tit">Eliminar</h2>

<h3>Esta seguro de que desea eliminiar esta salida?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tipo de Salida")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoSalida)
        </dd>

        <dt>
            @Html.DisplayName("Motivo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motivo)
        </dd>

        <dt>
            @Html.DisplayName("Fecha de Salida")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaSalida)
        </dd>

        <dt>
            @Html.DisplayName("ID Empleado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleados.codigoEmpleado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" /> |
            @Html.ActionLink("Atras", "Index")
        </div>
    }
</div>
