@model IEnumerable<Programacion3.Models.salidaEmpleado>

@{
    ViewBag.Title = "Index";
}

<h2 class="tit">Salida de Empleados</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Tipo de Salida")
        </th>
        <th>
            @Html.DisplayName("Motivo")
        </th>
        <th>
            @Html.DisplayName("Fecha de Salida")
        </th>
        <th>
            @Html.DisplayName("ID Empleado")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipoSalida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.motivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaSalida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empleados.codigoEmpleado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_salida }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_salida }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_salida })
        </td>
    </tr>
}

</table>
