@model Programacion3.Models.vacaciones

@{
    ViewBag.Title = "Eliminar";
}

<h2 class="tit">Eliminar</h2>

<h3>Esta seguro que desea eliminar esta vacacion?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Desde")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desde)
        </dd>

        <dt>
            @Html.DisplayName("Hasta")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hasta)
        </dd>

        <dt>
            @Html.DisplayName("Año")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.año)
        </dd>

        <dt>
            @Html.DisplayName("Comentario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentario)
        </dd>

        <dt>
            @Html.DisplayName("ID Empleado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleados.codigoEmpleado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" /> |
            @Html.ActionLink("Atras", "Index")
        </div>
    }
</div>
